# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Notebooks
.ipynb_checkpoints

# Local uploads and data
Healthcare_Navigator_Backend/uploads/
Healthcare_Navigator_Backend/debug_output.txt
Healthcare_Navigator_Backend/working.json

# IDEs
.vscode/
.idea/
